<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <center>
    <h1>Welcome to Flatiron Postcard, <%= @card.recipient_name %>!</h1>
    <p>
      You've been sent a postcard from <%= @card.sender_name %>!<br>
    </p>
    <p>
      <p><%= image_tag "#{@card.path}", height: "250"%></p>
    </p>
    <p>Message:</p>
    <p><%= @card.message %></p>

    <p>Return the favor and send your own FlatironPostcard!</p>
    </center>
  </body>
</html>