<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to example.com, <%= @card.sender_name %></h1>
    <p>
      You have successfully signed up to example.com,
      your username is: <%#= @user.login %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%#= @url %>.
      <p><%= image_tag "#{@card.path}", height: "100"%></p>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>