<center>
<div id="about">
<br><br><br>
<h1>About</h1>
<p>FlatironPostcard is a postcard generator that allows you to send customized electronic postcards to family and friends.</p>
<p>Created with &hearts; by <a href="http://ruby005.students.flatironschool.com/students/edwardwarrenNEW.html" target="_blank">Edward Warren</a>, <a href="http://twitter.com/korenlc" target="_blank">Koren Leslie Cohen</a> & <a href="http://twitter.com/bitompkins" target="_blank">Bianca Tompkins</a>.</p>
<p>Also available on mobile!</p>
<div id="privacy">
<h1>Privacy</h1>
<p>All your rights belong to us.</p>
<%= link_to 'Send postcard!', new_card_path %>
</div>
</div>
</center>