<center>
  <div id="thankyou">
    <br><br><br>
    <h1>Your postcard is on its way!</h1>
    <br><br><br>
    <h2>Spread the &hearts; and the word!</h2>
    <a href="https://twitter.com/intent/tweet?button_hashtag=FlatironPostcard&text=Spread%20the%20%3C3!%20Send%20a%20FlatironPostcard!%20By%20%40korenlc%20%40bitompkins%20%26%20%40ewarren7%20at%20%40FlatironSchool" class="twitter-hashtag-button" data-size="large" data-related="korenlc,FlatironSchool" data-url="http://flatironpostcard.com">Tweet #FlatironPostcard</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <br><br>
    <br><br>
    <p><%= link_to 'Send another!', new_card_path %></p>
    <br><br><br><br>
  </div>
</center>