@import url('http://fonts.googleapis.com/css?family=Pontano+Sans');
@import url('http://fonts.googleapis.com/css?family=Shadows Into Light Two');


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Pontano Sans';
}

a, 
a:hover,
a:visited {
  text-decoration: none;
}

a, 
a:visited {
  color: #239AFB;
}

a:hover {
  color: red;
  background: none;
}

body {
  background-image: url("vintage-airmail.png");
  /*background-image: image-url("vintage-airmail.png");*/
  background-size: cover;
}

#container {
  min-height: 100%;
  position: relative;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer p,
#thankyou a {
  font-family: 'Shadows Into Light Two';
  font-size: 35px;
}

#about p, 
#about a {
  font-family: 'Shadows Into Light Two';
  font-size: 25px;
  max-width: 700px;
  line-height: 1.5;
}

h1 {
  font-family: 'Shadows Into Light Two';
  padding-top: 70px;
}

#home p {
  font-family: 'Shadows Into Light Two';
  font-size: 50px;
  color: red;
  line-height: 1.3;
}

#privacy h1 {
  padding-top: 20px;
}

h3 {
  font-family: 'Shadows Into Light Two';
  padding-top: 240px;
  font-size: 130px;
}

h4 a {
  font-family: 'Shadows Into Light Two';
  font-size: 40px;
}

/*#card_photo {
  width: 140px;
}*/

.submit-card input {
  border: 1px solid #239AFB;
  color: white;
  background: red;
  padding: 10px;
  font-size: 20px;
  font-family: 'Shadows Into Light Two';
  transition-duration: .3s;
  width: 300px;
}

.submit-card input:hover {
  background: white;
  color: red;
  transition-property: background, border, color;
  transition-duration: .3s;
}

.photo input,
#photo input input,
#photo {
  border: 1px solid #239AFB;
  color: white;
  background: #A0D3FD;
  padding: 10px;
  font-size: 20px;
  width: 300px;
}

#card_photo {
  font-family: 'Shadows Into Light Two';
}

/*#card_photo {
  display: none;
}*/

/*#new-photo {
  border: 1px solid #239AFB;
  color: white;
  background: #A0D3FD;
  padding: 10px;
  font-size: 20px;
  width: 300px;
}*/

/*label {
  padding-top: 0;
  margin-top: 0;
}*/

/*button,
button button,
button input,
input button {
  border: 1px solid black;
  background: #A0D3FD;
}*/

#notice {
  background: red;
}

input, 
textarea {
  border: 1px solid #239AFB;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 25px;
  padding-bottom: 25px;
  background: #A0D3FD;
  font-size: 20px;
  opacity: .9;
}

input {
  width: 400px;
}

textarea {
  width: 600px;
}

#field {
  max-width: 500px;
  background: #A0D3FD;
}

h2 {
  margin-top: 0;
  padding-top: 0;
  font-family: 'Shadows Into Light Two';
}

li {
  font-family: 'Shadows Into Light Two';
  list-style: none;
  list-style-type: none;
  padding-top: 10px;
}

#error_explanation,
#error_explanation ul,
#error_explanation li {
  list-style: none;
  list-style-type: none;
  text-align: center;
}

#error_explanation {
  width: 400px;
  border: 1px solid white;
  /*padding: 7px;*/
  /*padding-bottom: 12px;*/
  /*margin-bottom: 20px;*/
  background-color: white;
    text-align: center;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 14px;
  margin: -7px;
  background-color: red;
  color: white;
    text-align: center;

}

#error_explanation p {
  color: black;
  margin-bottom: 0;
  text-align: center;
}

#error_explanation ul li {
  font-size: 14px;
  list-style: none;
  text-align: center;
}


/* Smaller Screens - 870px Breakpoint -------> */
@media screen and (max-width : 870px) {

  h3 {
    font-size: 100px;
  }

}

/* Smaller Screens - 805px Breakpoint -------> */
@media screen and (max-width : 805px) {

  .recipient {
    margin-top: 20px;
  }

  input, 
  textarea {
    opacity: 1;
  }

}

/* Smaller Screens - 695px Breakpoint -------> */
@media screen and (max-width : 695px) {

  h3 {
    font-size: 80px;
  }

}


/* Smaller Screens - 600px Breakpoint -------> */
@media screen and (max-width : 600px) {

  textarea {
    width: 550px;
  }

}

/* Smaller Screens - 570px Breakpoint -------> */
@media screen and (max-width : 570px) {

  h3 {
    font-size: 60px;
  }

}

/* Smaller Screens - 550px Breakpoint -------> */
@media screen and (max-width : 550px) {

  textarea {
    width: 500px;
  }

}

/* iPhone - 500px Breakpoint -------> */
@media screen and (max-width : 500px) {

  textarea,
  input {
    width: 450px;
  }

}


/* iPhone - 480px Breakpoint -------> */
@media only screen and (max-device-width : 480px) {

  textarea {
    width: 400px;
  }

  body {
    background-image: url("https://s3.amazonaws.com/FlatironPostcard/flatironstamp.png");
    background-size: 340px;
    background-repeat: no-repeat;
    background-position: center top;
  }

  footer p {
    font-size: 25px;
  }

  h1 {
    padding-top: 140px;
  }

  h3 {
    font-size: 50px;
    padding-top: 200px;
  }

  footer {
    /*position: absolute;*/
 /*   bottom: 0;*/
    /*width: 100%;*/
    display: none;
  }

  #home {
    margin-top: 0;
    padding-top: 0;
  }

  #home p {
    font-size: 30px;
  }

}

/* Smaller Screens - 450px Breakpoint -------> */
@media screen and (max-width : 450px) {

  textarea {
    width: 400px;
  }

  body {
    background-image: url("https://s3.amazonaws.com/FlatironPostcard/flatironstamp.png");
    background-size: 340px;
    background-repeat: no-repeat;
    background-position: center top;
  }

  footer p {
    font-size: 25px;
  }

  h1 {
    padding-top: 140px;
  }

  h3 {
    font-size: 50px;
    padding-top: 200px;
  }

  footer {
    /*position: absolute;*/
 /*   bottom: 0;*/
    /*width: 100%;*/
    display: none;
  }

  #home {
    margin-top: 0;
    padding-top: 0;
  }

  #home p {
    font-size: 30px;
  }

}

/* all smartphones in landscape */
/*@media only screen and (min-width : 321px) and (orientation : landscape) {
    textarea {
    width: 400px;
  }

  body {
    background-image: url("https://s3.amazonaws.com/FlatironPostcard/flatironstamp.png");
    background-size: 340px;
    background-repeat: no-repeat;
  }

  footer p {
    font-size: 25px;
  }

  h1 {
    padding-top: 140px;
  }

  h3 {
    font-size: 50px;
    padding-top: 200px;
  }

  footer {*/
    /*position: absolute;*/
 /*   bottom: 0;*/
    /*width: 100%;*/
/*    display: none;
  }

  #home {
    margin-top: 0;
    padding-top: 0;
  }

  #home p {
    font-size: 30px;
  }
}*/

/* iPad in portrait */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  and (orientation : portrait) {
  body {
    background-image: url("https://s3.amazonaws.com/FlatironPostcard/flatironstamp.png");
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: center top;
  }

  h1 {
    padding-top: 165px;
  }

}



/* iPhone in landscape - 480px Breakpoint -------> */
@media only screen and (max-device-width : 480px) and (orientation: landscape) {
  textarea,
  input {
    width: 400px;
  }

  body {
    background-image: url("https://s3.amazonaws.com/FlatironPostcard/flatironstamp.png");
    background-size: 340px;
    background-repeat: no-repeat;
    background-position: center-top; /*changed this*/
  }

  footer p {
    font-size: 25px;
  }

  h1 {
    padding-top: 140px;
  }

  h3 {
    font-size: 50px;
    padding-top: 200px;
  }

  footer {
    /*position: absolute;*/
 /*   bottom: 0;*/
    /*width: 100%;*/
    display: none;
  }

  #home {
    margin-top: 0;
    padding-top: 0;
  }

  #home p {
    font-size: 30px;
  }
}

/* iPhone - 350px Breakpoint -------> */
@media only screen and (max-width : 320px) {

  textarea,
  input {
    width: 300px; /*changed this*/
  }

  body {
    background-image: url("https://s3.amazonaws.com/FlatironPostcard/flatironstamp.png");
    background-size: 340px;
    background-repeat: no-repeat;
    background-position: center-top; /*changed this*/
  }

}










