<center>
  <h3>FlatironPostcard</h3>
  <h4><%= link_to 'Send postcard!', new_card_path %></h4>
  <br><br><br>
  <div id="home">
  <!--   <div id="one"><p>Fill out the form</p></div>
    <div id="two"><p>Send a awesome postcard</p></div>
 -->       
            <div id="one"><p>Brought to you by</p></div>
                <div id="two"><p>Edward Warren</p></div>
                    <div id="three"><p>Koren Leslie Cohen</p></div>
                    <div id="four"><p>&amp; Bianca Tompkins</p></div>
                     <div id="five"><p>Share the &hearts;</p></div>
                     <div id="six"><p>&hearts;</p></div>
  </div>
  <br>
  <br>
  <br>
</center>